<p class="text-green-500"><%= notice %></p>

<%= render @room %>

    <div class="container flex items-center justify-between p-4 mx-auto my-3 bg-gray-200 rounded shadow-lg">
      <div class="flex items-center">
        <%= link_to "Edit this room", edit_room_path(@room), class: "bg-yellow-600 hover:bg-yellow-800 p-3 rounded text-white bg- mr-4" %>
        <%= link_to "New room", new_room_path, class: "bg-green-600 hover:bg-green-800 rounded p-3 text-white mr-4" %>
      
      </div>
      <%= button_to "Destroy this room", @room, method: :delete, data: { confirm: "Are you sure?" }, class: "text-red-500 bg-transparent hover:bg-red-500 transition ease-in-out delay-50  hover:text-white border border-red-500 hover:border-transparent py-2 px-4 rounded" %>
    </div>